

<div class="confirm_popup_container">
    <div class="confirm_popup bg-light border">
        <div class="content p-4" style="width:90%">
            <h5>Are you sure for perform this Action?</h5>
            <div class="btns d-flex p-4">
                <button id="cancleButton" class=' btn btn-light m-1 w-50 border'>No</button>
                <button id="okButton" class='okButton btn btn-primary m-1 w-50'>Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>